<%= form_for @entry do |f| %>
	<%= errors_for(@entry, "Opps, unable to add this entry").html_safe %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.label :startdate %><br />
		<%= f.datetime_select :startdate %>
	</p>
	<p>
		<%= f.label :enddate %><br />
		<%= f.datetime_select :enddate %>
	</p>
	<p>
		<%= f.label :distance %><br />
		<%= f.text_field :distance %>
	</p>
	<p>
		<%= f.label :sport %><br />
		<%= f.select :sport_id, Sport.all.map{ |s| [s.name, s.id] }, {:include_blank=>'- Select a sport -'}, {:class=>'input'} %>
	</p>
	<p><%= f.submit "Save" %></p>
<% end %>
